html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: black;
  overflow: hidden; /* กันเลื่อนจอ */
  font-family: monospace;
}

#toolbar {
  position: fixed;
  left: 0;
  width: 100%;
  background: #111;
  padding: 6px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  z-index: 1000;

  bottom: -60px;          /* ซ่อนก่อน */
  transition: bottom 0.25s ease;
}

#toolbar.show {
  bottom: 0;              /* โผล่มา */
}

#toolbar button {
  background: black;
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 6px 8px;
  font-size: 14px;
}

#terminal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
}

.fullscreen-terminal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: black;
}
