html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: black;
  overflow: hidden; /* กันเลื่อนจอ */
  font-family: monospace;
}

#toolbar {
  display: flex;
  gap: 5px;
  padding: 6px;
  background: #111;
  flex-wrap: wrap;
}

#toolbar button {
  background: black;
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 6px 8px;
  font-size: 14px;
}

#terminal {
  height: calc(100% - 50px); /* ลบพื้นที่ปุ่มด้านบน */
  width: 100%;
}

.fullscreen-terminal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: black;
}
