html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: black;
  overflow: hidden; /* กันเลื่อนจอ */
  font-family: monospace;
}

#toolbar {
  position: fixed;
  left: 0;
  width: 100%;
  background: #111;
  padding: 6px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  z-index: 1000;

  bottom: -60px;          /* ซ่อนก่อน */
  transition: bottom 0.25s ease;
}

#toolbar.show {
  bottom: 0;              /* โผล่มา */
}

#toolbar button {
  background: black;
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 6px 8px;
  font-size: 14px;
}

#terminal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
}

/* กรอบหน้าต่างเวลารัน nano */
.nano-frame {
  position: fixed;
  top: 60px;
  left: 10px;
  right: 10px;
  bottom: 80px;
  border: 2px solid #00ff00;
  border-radius: 6px;
  box-shadow: 0 0 15px #00ff00;
  overflow: hidden;
  background: black;
  z-index: 500;
}

/* ให้ terminal ปรับขนาดตามกรอบ */
.nano-frame #terminal {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0;
  right: 0;
}
