html, body {
  height: 100%;
  margin: 0;
  background: black;
  font-family: 'JetBrains Mono', monospace;
  overflow: hidden;
}

#terminal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* พื้นที่ terminal เว้นที่ให้ toolbar */
#terminal {
  height: calc(100% - 70px);
  padding: 5px;
}

/* แถบปุ่มล่างแบบแอพ */
#toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-top: 1px solid #00ff00;
  z-index: 9999;
  transition: transform 0.25s ease;
}

/* ปุ่ม */
#toolbar button {
  background: black;
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 6px;
}

/* ตอนคีย์บอร์ดเปิด จะขยับขึ้น */
.keyboard-open #toolbar {
  transform: translateY(-260px); /* ความสูงคีย์บอร์ด iOS โดยประมาณ */
}

/* ตอนคีย์บอร์ดเปิด → ลดความสูง terminal */
body.keyboard-open #terminal {
  padding-bottom: 20px
}
