html, body {
  margin: 0;
  background: black;
  height: 100%;
  font-family: 'JetBrains Mono', monospace;
  overflow: hidden;
  
    /* กันเนื้อหาชนขอบจอ iPhone */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}


/* กัน scroll เด้งแบบเว็บ */
body {
  overscroll-behavior: none;
  touch-action: manipulation;
}

#terminal-container {
  position: fixed;
  top: env(safe-area-inset-top);
  left: 0;
  width: 100%;
  height: calc(100vh - 70px - env(safe-area-inset-top));
  display: flex;
  flex-direction: column;
}

:root {
  --kb-height: 0px;
  --toolbar-height: 0px;
}

/* พื้นที่ terminal จะหดตามคีย์บอร์ด */
/* ใช้ dynamic viewport ของ iOS */
#terminal {
  height: calc(100dvh - var(--toolbar-height) - var(--kb-height));
  transition: height 0.2s ease;
}

/* ===== Toolbar ===== */
#toolbar {
  position: fixed;
  bottom: env(safe-area-inset-bottom); /* กันชนแถบ iPhone */
  left: 0;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-top: 1px solid #00ff00;
  z-index: 9999;

  transform: translateY(calc(-1 * var(--kb-height)));
  transition: transform 0.25s ease;
}

#toolbar button {
  background: black;
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 7px 8px;      /* เดิม 10px 12px */
  font-size: 12px;       /* เดิม 16px */
  border-radius: 5px;    /* มนเล็กลงนิด */
  min-width: 35px;       /* ให้ปุ่มไม่เล็กเกินไป */
}

/* ===== Nano Overlay (เหมือนอีกจอ) ===== */
.nano-overlay {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nano-overlay.hidden {
  display: none;
}

.nano-window {
  width: 96%;
  height: 88%;
  border: 2px solid #00ff00;
  display: flex;
  flex-direction: column;
  background: black;
}

.nano-header {
  height: 36px;
  background: #001a00;
  color: #00ff00;
  font-weight: bold;
  text-align: center;
  line-height: 36px;
  border-bottom: 1px solid #00ff00;
  letter-spacing: 1px;
}

#nano-terminal {
  flex: 1;
  padding: 6px;
}

/* ให้เลือกข้อความใน terminal ได้ */
.xterm {
  user-select: text !important;
  -webkit-user-select: text !important;
}

/* เวลากดค้างจะมีเมนู Copy */
.xterm-viewport {
  touch-action: auto !important;
}